/* Get rid of all borders, margins, and padding. */
* {
  margin: 0;
  border: 0;
  padding: 0;
}

/* Make the html/body 100% width and height. */
html, body {
  width: 100%;
  overflow: hidden;
}


.point {
  fill: rgb(255, 108, 95);
  cursor: crosshair;
}

.line {
  stroke: rgb(0, 174, 255);
}

.circle {
  stroke: rgb(77, 197, 148);
  fill: none;
}

.label {
  fill:  rgb(142, 67, 231);
}
